
.icon-cog:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */